section{
padding-top: 128px;
position: relative;
}
section::before{
    z-index: -1;
    content: '';
    font-size: 72px;
    color: goldenrod;
    opacity: 0.25px;
    position: absolute;
    top: 20px;
    left:-30px;
    font-weight: 700;
}
.navbar {

    background-color: aqua;
box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.50);
}

.home h1 {
    font-size: 76px;

}
.home h3 {
    font-size: 48px;
}
.btn.boton {
    border: 3px solid black;
    border-radius: 24px;
}
.btn.boton:hover, .btn.btn.boton.active{
    border: 3px solid green;
    background-color: goldenrod;
    color: white;
}
.home .arrow img {
    width: 60px;
}

#key {
    animation: 5s upDown infinite;
}
@keyframes upDown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
.about-exp-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-exp-item {
    margin-top: 32px;
}
.about::before{
    content: 'About';
    
}
.about-exp-item-detail {
    display: none;
}